[user]
	name = Eirik Kvalheim
	email = eirikkva@gmail.com
[push]
	default = simple

[alias]
br = branch
co = checkout
st = status
last = log -1 HEAD

# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	
# List contributors with number of commits
	contributors = shortlog --summary --numbered